/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(245, 245, 255, 0.95);
    /* Light semi-transparent white */
    color: #333;
    line-height: 1.6;
}

/* Navigation Bar*/
header nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background: linear-gradient(45deg, #e0f7fa, #80deea);
    /* Gradient color */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Shadow */
    border-radius: 5px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    transition: color 0.3s ease;
    /*  Transition effect */
    transform: scale(1);
    /* Transform for hover effect */
}

header nav ul li a:hover {
    color: #00796b;
    /* User action pseudo-class(hover)*/
    transform: scale(1.1);
    /* Transform on hover */
}